<ActionBar class="grey">
    <label class="white" text="Workouts App"></label>
</ActionBar>
  

<StackLayout class="form">

    <Label text="Welcome to Fitness Tracker" 
        textAlignment="center" 
        verticalAlignment="center"
        fontSize="25" fontStyle="italic" marginTop="18"></Label>

    <ListView [items]="exercises | async" marginTop="20" height="50%">
        <ng-template let-exercise="item">
            <StackLayout class="item" borderRadius="40" width="300">
                <Label textAlignment="center" 
                    verticalAlignment="center" 
                    [text]="exercise.exname" class="white" fontSize="18"></Label>
                    <Label textAlignment="center" 
                    verticalAlignment="center" 
                    [text]="exercise.weights" class="white" fontSize="15"></Label>
            </StackLayout>
        </ng-template>
    </ListView>

</StackLayout>
