<ActionBar class="grey">
    <label class="white" text="Workouts App"></label>
</ActionBar>
  

<StackLayout class="form">
    <Label text="Welcome to Fitness Tracker" 
        textAlignment="center" 
        verticalAlignment="center"
        fontSize="25" fontStyle="italic" marginTop="18"></Label>
    <!-- <TextField [(ngModel)]="newTask" hint="Enter a new task"></TextField>
    <Button text="Add Task" (tap)="addTask()"></Button>

    <ListView [items]="tasks">
        <ng-template let-task="item">
        <StackLayout>
            <Label [text]="task.name"></Label>
            <Button text="Complete" *ngIf="!task.completed" (tap)="completeTask(task)"></Button>
        </StackLayout>
        </ng-template>
    </ListView> -->
</StackLayout>
