<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDBXr9-65wMlXlce2Nhrk4kBLrb6s7wrjM</string>
	<key>GCM_SENDER_ID</key>
	<string>965531628383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.nativescript.todoApp</string>
	<key>PROJECT_ID</key>
	<string>workout-f2473</string>
	<key>STORAGE_BUCKET</key>
	<string>workout-f2473.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:965531628383:ios:3aa70da4a489aed49f7cea</string>
</dict>
</plist>