@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';


.form {
    background-color: rgb(232, 226, 226);
}

Label{
    /* font-size: 10; */
}

.btn{
    background-color: rgb(88, 86, 86);
    color: #efefef;
}

.grey{
    background-color: rgb(88, 86, 86);;
}

.tab{
    tab-background-color: rgb(88, 86, 86);
    tab-text-color: #efefef;
}

.white{
    color: #efefef;
}






